<html xmlns:th="http://www.thymeleaf.org" lang="bn">
<body>
	<!--==========================
    Intro Section
  ============================-->
  <section id="breadcumb-a" th:fragment="breadcrumb">
    <!-- breadcrumb -->
        <div class="clx-title-breadcrumb-wrapper clx-page-title-left">
          <div class="container">
              <div class="row clx-title-breadcrumb-wrap">
                  <div class="clx-page-title-text col-md-811">
                      <h1 class="entry-title" data-fontsize="18" data-lineheight="26">
                      		<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/createcropcalendar'}" 
									class="active" th:href="@{/cropmanagement/createcropcalendar}" th:text="#{create.crop.calendar}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/createcrop'}"
								class="active" th:href="@{/cropmanagement/createcrop}" th:text="#{create.crop}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/app/croplist'}"
								class="active" th:href="@{/app/croplist}" th:text="#{create.crop.list}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/activitylist'}" 
									class="active" th:href="@{/cropmanagement/activitylist}" th:text="#{activity.add}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/activityTypeList'}" 
									class="active" th:href="@{/cropmanagement/activityTypeList}" th:text="#{activitytype.add}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/activityItemList'}" 
									class="active" th:href="@{/cropmanagement/activityItemList}" th:text="#{activityItem.add}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/expenceItemList'}" 
									class="active" th:href="@{/cropmanagement/expenceItemList}" th:text="#{crop.mapping.add}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/app/cropcalender'}" 
									class="active" th:href="@{/app/cropcalender}" th:text="#{Calendar.1}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/cropmanagement/createearnings'}" 
								class="active" th:href="@{/cropmanagement/createearnings}" th:text="#{income.estimate}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/app/farmercropearning'}" 
									class="active" th:href="@{/app/farmercropearning}" th:text="#{expenditure.estimate.all}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/eo/expencelist'}" 
									class="active" th:href="@{/eo/expencelist}" th:text="#{expence.estimate}">
							</span>
							<span th:if="${#httpServletRequest.requestURI == '/eo/incomelist'}" 
									class="active" th:href="@{/eo/incomelist}" th:text="#{expenditure.estimate.all}">
							</span>
                      </h1>
                  </div>
                  <div class="clx-breadcrumb-wrap col-md-411">
                      <div class="clx-breadcrumbs">
                        <ol class="breadcrumb ">
                          <li><a href="/home" th:text="#{application.breadcrumb.dashboard}"></a></li>
                          <li><a href="/home" th:text="#{CropManagement}"></a></li>
                          	<li>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/createcropcalendar'}" 
									class="active" th:href="@{/cropmanagement/createcropcalendar}" th:text="#{create.crop.calendar}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/createcrop'}"
									class="active" th:href="@{/cropmanagement/createcrop}" th:text="#{create.crop}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/app/croplist'}"
									class="active" th:href="@{/app/croplist}" th:text="#{create.crop.list}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/activitylist'}" 
										class="active" th:href="@{/cropmanagement/activitylist}" th:text="#{activity.add}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/activityTypeList'}" 
										class="active" th:href="@{/cropmanagement/activityTypeList}" th:text="#{activitytype.add}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/activityItemList'}" 
										class="active" th:href="@{/cropmanagement/activityItemList}" th:text="#{activityItem.add}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/expenceItemList'}" 
										class="active" th:href="@{/cropmanagement/expenceItemList}" th:text="#{crop.mapping.add}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/app/cropcalender'}" 
										class="active" th:href="@{/app/cropcalender}" th:text="#{Calendar.1}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/cropmanagement/createearnings'}" 
									class="active" th:href="@{/cropmanagement/createearnings}" th:text="#{income.estimate}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/app/farmercropearning'}" 
										class="active" th:href="@{/app/farmercropearning}" th:text="#{expenditure.estimate.all}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/eo/expencelist'}" 
										class="active" th:href="@{/eo/expencelist}" th:text="#{expence.estimate}">
								</a>
								<a th:if="${#httpServletRequest.requestURI == '/eo/incomelist'}" 
										class="active" th:href="@{/eo/incomelist}" th:text="#{expenditure.estimate.all}">
								</a>
							</li>
                        </ol>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </section><!-- #intro -->
</body>
</html>