<div th:fragment="dashboardlink" class="dashboard-icon-bar">
<style>
body {margin:0;}

.dashboard-icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.dashboard-icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
}

.dashboard-icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}
</style>
  <a th:class="${#httpServletRequest.requestURI == '/home' ? 'active' : ''}" th:href="@{/home}">
  	<i class="fa"><img th:src="@{/img/crop-6.png}" height="30" width="30" alt=""/></i>Home</a> 
  <a th:class="${#httpServletRequest.requestURI == '/reports/cropvsland' ? 'active' : ''}" th:href="@{/reports/cropvsland}">
  	<i class="fa"><img th:src="@{/img/crop-3.png}" height="30" width="30" alt=""/></i>Crop land</a> 
  <a th:class="${#httpServletRequest.requestURI == '/reports/laborcomparison' ? 'active' : ''}" th:href="@{/reports/laborcomparison}">
	<i class="fa"><img th:src="@{/img/crop-4.png}" height="30" width="30" alt=""/></i>labor comparison</a> 
  <a th:class="${#httpServletRequest.requestURI == '/reports/landownership' ? 'active' : ''}" th:href="@{/reports/landownership}">
	<i class="fa"><img th:src="@{/img/crop-5.png}" height="30" width="30" alt=""/></i>Land ownership</a>
  <a th:class="${#httpServletRequest.requestURI == '/reports/production' ? 'active' : ''}" th:href="@{/reports/production}">
	<i class="fa"><img th:src="@{/img/crop-2.png}" height="30" width="30" alt=""/></i>Production</a> 
</div>