<!--==========================
    Header
  ============================-->
<header th:fragment="header" id="header">
	<div class="container">
		<div id="logo" class="pull-left">
			<a href="#body"><img src="../img/logo.png" alt="" title="" /></a>
		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu sf-js-enabled sf-arrows"
				style="touch-action: pan-y;">
				<li	th:class="${#httpServletRequest.requestURI == '/index' ? 'menu-active' : 'menu'}">
					<a href="/index" th:text="#{application.dashboard.home}"></a>
				</li>
				<li><a href="#contact" th:text="#{application.header.contact}"></a></li>
				<li>
					<form id="demo-2">
						<input type="search" placeholder="Search">
					</form>
				</li>
			</ul>
		</nav>
		<!-- #nav-menu-container -->
	</div>
</header>
<!-- #header -->