<!DOCTYPE html>
<html th:fragment="layout (template, menu)" lang="bn">
<head>
<meta charset="utf-8">
  <!-- <title>Welcome to crop Accouting</title> -->
  <title th:text="#{application.name}"></title>
  <meta name="description"
	content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
   <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <link href="../webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="../webjars/bootstrap/4.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../lib/assets/animate.css" type="text/css" />
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../webjars/ionicons/css/ionicons.min.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/datepicker.css" rel="stylesheet">
  <!-- <link href="../css/font.css" rel="stylesheet"> -->
  
  
  <!-- JavaScript Libraries -->
  <script src="../webjars/jquery/2.1.4/dist/jquery.min.js"></script>
  <script src="../webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
  <script src="../webjars/moment/2.22.2/moment.js"></script>
  <script src="../webjars/bootstrap/4.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/bootstrap-typeahead.min.js"></script>
  <!-- <script src="../webjars/angularjs/1.5.6/angular.min.js"></script> -->
  <script src="../lib/angular/angular/angular.js"></script>
  <script src="../lib/superfish/superfish.min.js"></script>
  <script src="../lib/wow/wow.min.js"></script>
  <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../webjars/magnific-popup/1.1.0/dist/jquery.magnific-popup.min.js"></script>
  <script src="../lib/sticky/sticky.js"></script>
  
  <!-- Template Main Javascript File -->
  <script src="../js/main.js"></script>
  <script src="../js/bootstrap-datepicker.js"></script>
  <!-- 
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  -->
<!-- =======================================================
    Theme Name: Crop accounting
  ======================================================= -->
</head>


<body id="body" class="nav-md ng-scope"><!-- class="nav-md ng-scope" -->
	<section th:replace="fragments/topnav :: topnav"></section>
	<!-- <div id="header-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 84px;">
		
	</div> -->
	<div th:replace="fragments/header :: header"></div>
	<section th:replace="fragments/breadcrumb :: breadcrumb"></section>
	<main id="main">
		<section class="sidenav">
			<div class="container app-content">
    			<div class="row app-content-body">
					<div th:replace="fragments/sidebar :: sidebar"></div>
					<!-- <th:block layout:fragment="header"></th> -->
					<div class="col-sm-9 col-md-9" ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
						<div th:replace="${template}"/>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div th:replace="fragments/footer :: footer"/>	
<script type="text/javascript">
function chooseLang(lang) {
	var url = location.href;
	if (url.indexOf("lang=") > 0)
		url = url.replace(url.substring(url.indexOf("lang=") - 1, url.indexOf("lang=") + 7), '');
	if (url.indexOf("?") > 0)
		url = url + '&lang=' + lang.value;
	else
		url = url + '?lang=' + lang.value;
	window.location = url;
}
  $(document).ready(function(){
    //$('#header').load('../header-ads.html');
    //$('#footer').load('../footer-ads.html');
    $(function(){
   	  $("#selectpicker").change(function() {
   		  //alert('eee');
   		 var url = location.href;
   		 chooseLang(this.selected);
   	  });
   	});
     jQuery(document).delegate('a.add-record', 'click', function(e) {
     e.preventDefault();    
     var content = jQuery('#sample_table tr'),
     size = jQuery('#tbl_posts >tbody >tr').length + 1,
     element = null,    
     element = content.clone();
     element.attr('id', 'rec-'+size);
     element.find('.delete-record').attr('data-id', size);
     element.appendTo('#tbl_posts_body');
     element.find('.sn').html(size);
   });
    jQuery(document).delegate('a.delete-record', 'click', function(e) {
     e.preventDefault();    
     var didConfirm = confirm("Are you sure You want to delete");
     if (didConfirm == true) {
      var id = jQuery(this).attr('data-id');
      var targetDiv = jQuery(this).attr('targetDiv');
      jQuery('#rec-' + id).remove();
      
    //regnerate index number on table
    $('#tbl_posts_body tr').each(function(index){
		$(this).find('span.sn').html(index+1);
    });
    return true;
  } else {
    return false;
  }
});
  });
</script>
</body>
</html>
