<html xmlns:th="http://www.thymeleaf.org" lang="bn">
<body>
<!--==========================
    Top Bar
  ============================-->
  <section id="topbar" th:fragment="topnav">
    <div class="container clearfix">
      <div class="contact-info float-left">
       <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
       <!-- <i class="fa fa-phone"></i> +1 5589 55488 55 -->
      </div>
      <div class="social-links float-right">
      
      </div><ul class="nav navbar-top-links navbar-right">
      <!-- 
      <li class="dropdown " style="padding-top: 3px">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-envelope fa-fw"></i> 
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li>
            <a href="#">
              <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
              </div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
              </div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
              </div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="text-center" href="#">
              <strong>Read All Messages</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown" style="padding-top: 3px">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-bell fa-fw"></i> 
          <span class="badge badge-secondary">10</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <a href="#">
              <div>
                <i class="fa fa-comment fa-fw"></i> New Comment
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                <span class="pull-right text-muted small">12 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-envelope fa-fw"></i> Message Sent
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-tasks fa-fw"></i> New Task
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="text-center" href="#">
              <strong>See All Alerts</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </li>
      -->
      <!--Language -->
      <select class="selectpicker" onChange="chooseLang(this);" id="selectpicker" data-width="fit">
      	<option value="" selected><span th:text="#{lang}"></span></option>
		  <option value="en"><span th:text="#{lang.en}"></span></option>
		  <option value="bn"><span th:text="#{lang.bn}"></span></option>
	  </select>
      <!-- /.dropdown -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         <img src="../img/pic.png" class="img-cyrkle" alt="">
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
          	<a href="profile.html" ><img src="../img/pic.png" class="img-cyrkle-inner" alt="">
          </li>
          <li><a href="#"><i class="fa fa-gear fa-fw"></i> <span th:text="#{settings}"></span></a>
          </li>
          <li class="divider"></li>
          <li><a href="../logout"><i class="fa fa-sign-out fa-fw"></i><span th:text="#{logout}"></span></a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>           
    </div>
  </section>
</body>
</html>
