
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
	<script src="js/highcharts.js"></script>
  	<script src="js/highcharts-3d.js"></script>
   <div class="page-container">
       <div class="page-content-wrapper">
           <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
               <div class="container">
               		<div class="row" style="margin-bottom:30px">
                       <div class="col-md-6">
                           <h5 th:text="#{report.dashboard}"></h5>
                       </div>
                   </div>
               		<div class="row" style="margin-bottom:30px">
                       <div class="col-md-12" style="margin-top:20px">
                           <div id="comparison" style="width:100%; height:300px;"></div>
                       </div>
                   </div>
                   <div class="row" style="margin-bottom:30px">
                       <div class="col-md-12" style="margin-top:20px">
                           <div id="cropVsLand" style="width:100%; height:300px;"></div>
                       </div>
                   </div>
                   <div class="row" style="margin-bottom:30px">
                       <div class="col-md-12" style="margin-top:20px">
                           <div id="salesByType" style="width:100%; height:300px;"></div>
                       </div>
                   </div>
                   <div class="row" style="margin-bottom:30px">
                       <div class="col-md-12" style="margin-top:20px">
                           <div id="salesByRegion" style="width:100%; height:300px;"></div>
                       </div>
                   </div>
                   <div class="row" style="margin-bottom:30px">
                       <div class="col-md-12" style="margin-top:20px">
                           <div id="production" style="width:100%; height:300px;"></div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <script th:src="@{/js/expenceComparisonReport.js}"></script>
   
   <script th:src="@{/js/cropVsLandChart.js}"></script>
   <script th:src="@{/js/landOwnerShipReport.js}"></script>
   <script th:src="@{/js/productionChart.js}"></script>
   <script th:src="@{/js/monthWiseRegistrationReport.js}"></script>
   
   <script th:inline="javascript">
        /*<![CDATA[*/
        	console.log([[${production}]])
        	var cropvslandConfig = {
        		"heading" : [[#{report.cropvsland.heading}]]	
        	}
        	$.ajax({ 
		        type: 'GET', 
		        url: '/report/cropVsLand', 
		        data: { get_param: 'value' }, 
		        success: function (data) { 
		            drawCropVsLandChart(data, cropvslandConfig);
		            $('#cand').html(data);
		        }
		    });
        	
        	var monthWiseRegistrationConfig = {
					"heading" : [[#{report.crop.registration.heading}]],
					"yaxis" : [[#{report.crop.registration.cropcount}]],
					"month" : {
						"jan" : [[#{report.month.jan}]],
						"feb" : [[#{report.month.feb}]],
						"mar" : [[#{report.month.mar}]],
						"apr" : [[#{report.month.apr}]],
						"may" : [[#{report.month.may}]],
						"jun" : [[#{report.month.jun}]],
						"jul" : [[#{report.month.jul}]],
						"aug" : [[#{report.month.aug}]],
						"sep" : [[#{report.month.sep}]],
						"oct" : [[#{report.month.oct}]],
						"nov" : [[#{report.month.nov}]],
						"dec" : [[#{report.month.dec}]]
					}
			}
			$.ajax({ 
		        type: 'GET', 
		        url: '/report/cropRegistration', 
		        data: { get_param: 'value' }, 
		        success: function (data) {
		        	//console.log(data);
		        	drawMonthWiseRegistrationChart(data, monthWiseRegistrationConfig);
		            //var names = data;
		            //$('#cand').html(data);
		        }
		    });
        	
        	$.ajax({ 
		        type: 'GET', 
		        url: '/report/production', 
		        data: { get_param: 'value' }, 
		        success: function (data) {
		        	//console.log(data);
		        	drawMonthWiseProductionChart(data, monthWiseRegistrationConfig);
		            //var names = data;
		            //$('#cand').html(data);
		        }
		    });
			
        	var comparisonConfig = {
					"heading" : [[#{report.expence.comparison.heading}]],
					"task" : [[#{report.expence.comparison.task}]],
					"expence": [[#{report.expence.comparison.expence}]],
					"expencecountry" : [[#{report.expence.comparison.type.country}]],
					"expencearea" : [[#{report.expence.comparison.type.area}]]
			}
			$.ajax({ 
		        type: 'GET', 
		        url: '/report/labourExpenceComparison', 
		        data: { get_param: 'value' }, 
		        success: function (data) {
		        	drawComparisonChart(data, comparisonConfig);
		            var names = data;
		            $('#cand').html(data);
		        }
		    });
			
			var landOwnershipConfig = {
					"heading" : [[#{farmer.registration}]]
			}
			$.ajax({ 
		        type: 'GET', 
		        url: '/report/landOwnerShip', 
		        data: { get_param: 'value' }, 
		        success: function (data) {
		        	drawLandOwnerShipChart(data, landOwnershipConfig);
		            var names = data;
		            $('#cand').html(data);
		        }
		    });
			
			function inArrayItem(needle, haystack) {
        	    var length = haystack.length;
        	    for(var i = 0; i < length; i++) {
        	        if(haystack[i] == needle)
        	            return true;
        	    }
        	    return false;
        	}
        	
            $(function () { 
                Highcharts.setOptions({
                    lang: {
                        decimalPoint: '.',
                        thousandsSep: ','
                    }
                });
                
               var converters = {
               	    // Latin to Farsi
               	    fa: function (number) {
               	        return number.toString().replace(/\d/g, function (d) {
               	            return String.fromCharCode(d.charCodeAt(0) + 1728);
               	        });
               	    },
               	    // Latin to Arabic
               	    //2432-2559
               	    bn: function (number) {
               	        return number.toString().replace(/\d/g, function (d) {
               	        	//console.log(d.charCodeAt(0));
               	            return String.fromCharCode(d.charCodeAt(0) + (2534 - 48));
               	        });
               	    }
               	};

               	Highcharts.setOptions({
               	    lang: {
               	        decimalPoint: '\u002E'//,thousandsSeparator: '\u09EF'
               	    }
               	});

               	Highcharts.wrap(Highcharts, 'numberFormat', function (proceed) {
               	    var ret = proceed.apply(0, [].slice.call(arguments, 1));
               	    return converters.bn(ret);
               	});
            });
            /*]]>*/
        </script>  
</body>
</html>