<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title th:text="#{application.index.welcome}"></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet"> -->

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Crop accounting
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section th:replace="fragments/topnav :: topnav"></section>
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#body"><img src="img/logo.png" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/home" th:text="#{application.breadcrumb.dashboard}"></a></li>
          <li><a href="#contact" th:text="#{application.header.contact}"></a></li>
          <li>
             <form id="demo-2">
				<input type="search" placeholder="Search">
			</form>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
     
      <h2 th:text="#{application.index.usage.title}"> </h2>
	  <p th:text="#{application.index.usage.detail}"></p>
      <div>
        <a href="#about" class="btn-get-started scrollto" th:text="#{application.index.button}"></a>
      </div>
    
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <section id="services">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <div class="box wow ">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">বাংলাদেশ</a></h4>
              <p class="description">বাংলাদেশ পৃথিবীর  একটি জনবহুল দেশ যার অর্থনীতি মূলত কৃষি নির্ভর। জিডিপিতে কৃষি খাতের অবদান ১৬% এবং দেশের প্রায় ৪৫%নিয়োজিত।</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow ">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">বাংলাদেশ</a></h4>
              <p class="description">বাংলাদেশ পৃথিবীর  একটি জনবহুল দেশ যার অর্থনীতি মূলত কৃষি নির্ভর। জিডিপিতে কৃষি খাতের অবদান ১৬% এবং দেশের প্রায় ৪৫%নিয়োজিত।</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #services -->
 

    <!--==========================
      Our crop Section
    ============================-->
    <section id="crop" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>বাংলাদেশ সরকারের সপ্তম পঞ্চবার্ষিক পরিকল্পনা (২০১৬-২০২০)</h2>
          <p>Fযেকোন লে-আউট প্ল্যানে জানতে পারবেন কি কি গাছ লাগানো সম্ভব, ওতে কি উপকরণ লাগে, কতখানি যায়গা লাগে, কি কি যন্ত্রপাতি দরকার, এবং অন্য অনেক উপকারী তথ্য - নিজের বাগানটি এবার শুরু করেই ফেলুন।</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
             <p>
              	<img src="img/crop-7.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{application.index.info.heading.report}"></h3>
               <p th:text="#{application.index.info.report.detail}"></p>
            </div>
           </a>
          </div>

          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-6.png" class="crop-img" alt="">
              </p>
              <h3 th:text="#{application.index.info.heading.farmer.registration}"></h3>
               <p th:text="#{application.index.info.farmer.registration.detail}"></p>
            </div>
           </a>
          </div>

          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-3.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{application.index.info.heading.calc}"></h3>
               <p th:text="#{application.index.info.calc.detail}"></p>
            </div>
           </a>
          </div>

          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-4.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{application.index.info.heading.output}"></h3>
               <p th:text="#{application.index.info.output.detail}"></p>
            </div>
           </a>
          </div>

          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-5.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{application.index.info.heading.activity}"></h3>
               <p th:text="#{application.index.info.activity.detail}"></p>
            </div>
           </a>
          </div>
          <div class="col-lg-3 col-md-6">
			<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-2.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{application.index.info.heading.crop}"></h3>
               <p th:text="#{application.index.info.crop.detail}"></p>
            </div>
           </a>          	
          </div>
          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
				<p>
              	<img src="img/crop-1.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{create.crop.calendar}"></h3>
               <p th:text="#{application.index.info.lifecycle.detail}"></p>              
             </div>
           </a>
          </div>
          <div class="col-lg-3 col-md-6">
          	<a href="#">
             <div class="crop-item">
              <p>
              	<img src="img/crop-8.png" class="crop-img" alt="">
              </p>
              	<h3 th:text="#{Calendar.1}"></h3>
               <p th:text="#{application.index.info.calender.detail}"></p>
            </div>
           </a>
          </div>

      </div>
    </section><!-- #crop -->

    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">নিরাপদ সবজি</h3>
            <p class="cta-text"> বাংলাদেশ পৃথিবীর  একটি জনবহুল দেশ যার অর্থনীতি মূলত কৃষি নির্ভর। জিডিপিতে কৃষি খাতের অবদান ১৬% এবং দেশের প্রায় ৪৫% লোক কৃষি কাজের সাথে নিয়োজিত। বালাইদ্বারা বাংলাদেশে সবজি ফসলের প্রায় ২৫% ক্ষতি হয়ে থাকে তা সত্তেও বাংলাদেশ সবজি উৎপাদনে.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#" th:text="#{application.index.button}"></a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <div th:replace="fragments/footer :: footer"/>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>
  
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>


</body>
</html>