<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'croplist')}">
<body>
	<div class="wrapper-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading font-bold" th:text="#{crop.add}"></div>
					<div class="panel-body">
						<form method="POST" th:action="@{/app/submit}" th:object="${crop}"
							class="form-horizontal">
							<input type="hidden" name="crop.id"
								th:field="*{id}" th:value="${crop != null && crop.id != null} ? ${crop.id} : ''" />
							<input type="hidden" name="crop.portal.id"
								th:field="*{portalid}" th:value="0" />

							<section th:replace="fragments/cropselection :: cropselection"></section>

							<div class="line line-dashed b-b line-lg pull-in"></div>
							<div class="form-group">
								<div class="row">
									<div><input type="hidden" name="farmer.id" id="farmer_id" value=""/></div>
									<div class="col-sm-5">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.mobileNo}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{farmer.mobileNo}" value="" id="crop_farmer_mobileNo"
												name="crop.farmer.mobileNo" class="form-control" placeholder="Search cities..." autocomplete="off">
										</div>
									</div>
									<div class="col-sm-2">
										<label class="col-sm-12 control-label">&nbsp;</label>
										<div class="col-sm-12"><span>Or</span></div>
									</div>
									<div class="col-sm-5">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.nid}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{farmer.nid}" value="" id="crop_farmer_nid"
												name="crop.farmer.nid" class="form-control" placeholder="Search cities..." autocomplete="off">
										</div>
									</div>
								</div>
							</div>
							<div class="well clearFix"></div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-12">
								        <div class="col-sm-12">
								        	<span id="show-register" class="form-control alert alert-block alert-secondary" th:text="#{account.information.required}"></span>
								        </div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.landOwner}"></label>
										<div class="col-sm-12">
											<div class="radio">
												<label class="i-checks"> <input type="radio"
													th:value="Yes" th:field="*{landOwner}"></input> <i></i>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
													th:text="#{crop.farmer.owner.self}"></span>
												</label>
											</div>
											<div class="radio">
												<label class="i-checks"> <input type="radio"
													th:value="No" th:field="*{landOwner}"></input> <i></i>
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
													th:text="#{crop.farmer.owner.lease}"></span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.landDagNo}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{landDagNo}" value="" id="crop.farmer.landDagNo"
												name="crop.farmer.landDagNo" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label for="crop_farmer_name" class="col-sm-12 control-label"
											th:text="#{crop.cropUnit}"></label>
										<div class="controls col-sm-12">
											<select th:field="*{cropUnit}" name="crop.cropUnit"  id="country" class="form-control"
												ng-required="true" required="required">
												<option value="0" class="" selected="selected"
													th:text="#{choose.option}"></option>
												<option th:each="unit : ${T(com.cropaccounting.util.UnitEnum).values()}" th:value="${unit.id()}" th:utext="${unit.unitsName()}"> 
											</select> <span class="help-inline"></span>
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.cropLandQuantity}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{cropLandQuantity}" value="" id="crop.cropLandQuantity"
												name="crop.cropLandQuantity" class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.startDate}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{startDateString}" value="" id="datepicker" name="crop.startDate" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-sm btn-primary" th:text="#{crop.list.save}"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$.fn.datepicker.defaults.format = "dd-mm-yyyy";
		$('#datepicker').datepicker();
		/* $(function () {
	        $('#datetimepicker2').datepicker({
	            format: 'dd-mm-yyyy'
	        });
	    }); */
		function displayResult(item) {
			console.log('selected--' + item);
			$('#farmer_id').val(item.value);
			$('.alert').show().html('' + [[#{search.farmer.name}]] + ' : <strong>' + item.text + '</strong>');
		}
		
		$('#crop_farmer_nid').typeahead({
			ajax: {
	            url: '/app/searchFarmerNID',
	            method: 'get',
	            triggerLength: 13
	        },
	        grepper: function(data){
	            var that = this;
	            console.log('grepper--' + data);
	            if (data == undefined || data == '' || data.length == 0) {
	        		console.log('')
	        		$('#show-register').show().html('<span>' + [[#{no.profile.found}]] + ' ' + 
	            			'<a class="btn btn-sm btn-primary" href="/app/farmerRegistration" class="btn">' 
	            			+ '<i class="fa fa-plus"></i>Register</a></span>');
	            }
	            if(data && data.length){
	                items = $.grep(data, function(item){
	                    return that.matcher(item['nid']);
	                });
	                return items;
	            } 
	            return null;
	        },
	        onSelect: displayResult
	    });
		
		$('#crop_farmer_mobileNo').typeahead({
			ajax: {
	            url: '/app/searchFarmerMobile',
	            triggerLength: 1
	        },
	        grepper: function(data){
	            var that = this;
	            console.log('grepper--' + data);
	            if (data == undefined || data == '' || data.length == 0) {
	        		console.log('data')
	            	$('#show-register').show().html('<span>' + [[#{no.profile.found}]] + ' ' + 
	            			'<a class="btn btn-sm btn-primary" href="/app/farmerRegistration" class="btn">' 
	            			+ '<i class="fa fa-plus"></i>Register</a></span>');
	            }
	            if(data && data.length) {
	                items = $.grep(data, function(item){
	                    return that.matcher(item['mobileNo']);
	                });
	                return items;
	            }
	            return null;
	        },
	        onSelect: displayResult
	    });
    	
		function convertToInt(id) {
			console.log(id);
			return parseInt(id, 10);
		}
/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
//AJAX call for autocomplete 
$(document).ready(function(){
});
/*]]>*/
</script>

</body>
</html>
