<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'farmerRegistration')}">
<body>
	<link href="../public/libs/timeline-scheduler/css/jquery-ui.css"
		rel="stylesheet" />
	<link href="../public/libs/timeline-scheduler/css/jquery.ui.theme.css"
		rel="stylesheet" />

	<div class="wrapper-md">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading font-bold" th:text="#{crop.add}"></div>
					<div class="panel-body">
						<form method="POST" th:action="@{/app/submitFarmerRegistration}" th:object="${farmer}"
							class="form-horizontal">
							
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.name}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{name}" value="" id="crop.farmer.name"
												name="crop.farmer.name" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.guardian.name}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{guardianName}" value="" id="crop.farmer.guardian.name"
												name="crop.farmer.guardian.name" class="form-control">
										</div>
									</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.gender}"></label>
										<div class="col-sm-6">
											<select th:field="*{gender}" class="form-control">
											    <option th:value="'M'" th:text="#{crop.farmer.gender.male}"></option>
											    <option th:value="'F'" th:text="#{crop.farmer.gender.female}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.block}"></label>
										<div class="col-sm-6">
											<select th:field="*{block}" class="form-control">
											    <option th:each="i : ${#numbers.sequence(1	, 10)}" th:value="${i}" th:text="${i}">
											    </option>
											</select>
										</div>
									</div>	
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.para}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{paraName}" value="" id="crop.farmer.para"
												name="crop.farmer.para" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.village}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{villageName}" value="" id="crop.farmer.village"
												name="crop.farmer.village" class="form-control">
										</div>
									</div>
									<div class="col-sm-6"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.mobileNo}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{mobileNo}" value="" id="crop.farmer.mobileNo"
												name="crop.farmer.mobileNo" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.nid}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{nid}" value="" id="crop.farmer.nid"
												name="crop.farmer.nid" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.cardNo}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{farmerCardNo}" value="" id="crop.farmer.cardNo"
												name="crop.farmer.cardNo" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="col-sm-12 control-label"
											th:text="#{crop.farmer.landAmount}"></label>
										<div class="col-sm-12">
											<input type="text" th:field="*{landAmount}" value="" id="crop.farmer.landAmount"
												name="crop.farmer.landAmount" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-10">
								<button type="submit" class="btn btn-sm btn-primary"
									th:text="#{crop.list.save}"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="../public/libs/timeline-scheduler/js/jquery-ui-1.10.2.min.js"></script> -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	
    var cropList = [[${crops}]];
    var theList = [[${cropActivityList}]];
    var typeList = [[${types}]];
    /*
var a={1:"১",2:"২",3:"৩",4:"৪",5:"৫",6:"৬",7:"৭",8:"৮",9:"৯",0:"০"};
var currentLangCode = '${play.i18n.Lang.get()}';
  $( function() {
    //$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( "#datepicker" ).datepicker({"Name":"bn-BD","closeText":"Close","prevText":"Prev","nextText":"Next",
		"currentText":"Today","monthNames":["জানুয়ারী","ফেব্রুয়ারী","মার্চ","এপ্রিল","মে","জুন","জুলাই","আগস্ট","সেপ্টেম্বর","অক্টোবর","নভেম্বর","ডিসেম্বর",""],
		"monthNamesShort":["জানু.","ফেব্রু.","মার্চ","এপ্রিল","মে","জুন","জুলাই","আগ.","সেপ্টে.","অক্টো.","নভে.","ডিসে.",""],
		"dayNames":["রবিবার","সোমবার","মঙ্গলবার","বুধবার","বৃহস্পতিবার","শুক্রবার","শনিবার"],
		"dayNamesShort":["রবি.","সোম.","মঙ্গল.","বুধ.","বৃহস্পতি.","শুক্র.","শনি."],
		"dayNamesMin":["র","স","ম","ব","ব","শ","শ"],
		"dateFormat":"dd-mm-yy","firstDay":1,"isRTL":false,
		beforeShow: function () {
			
		},
		onChangeMonthYear: function(year, month, inst) { 
		   //some function to do on month or year change 		   
		},
		afterShow: function () {
			console.log('fff');
		}		
		});
  } );	
 $('.selector').datepicker({
   beforeShow: function(date) { 
       setTimeout(function() {
            if(currentLangCode=='bn')
			{
				$('.ui-state-default').each(function() {
				var day = $(this).html();
				if(day != undefined && parseInt(day)>-1) {
								day =  day.replace(/\d/g,function(day){return a[day]});
								console.log("day::"+day);
								// Check if there's a url defined for the day
								$(this).html( day );
							}
				//repeat this for each number
			});
			}
       }, 50); // TD content is already rendered 
   },
}); 
*/
var myApp = angular.module("myApp", []);

myApp.factory("CustomerService", ['$filter', 
      function($filter){
		var types = [];
		var crops = [];
		var varities = [];
		
		var cropList = [[${crops}]];
        var typeList = [[${types}]];
        var varietyList = [[${varieties}]];
		console.log(cropList);
		console.log(varietyList);
		for(var i = 0; i < typeList.length; i++)
		{
			types[i] = {'type':typeList[i]};
		}
		
		i = 0;
		for(var i =0; i < cropList.length; i++)
		{
			crops[i] = {'name':cropList[i][1],'type':cropList[i][0],'id':cropList[i][2]};
		}
		
		i = 0;
		for(var i = 0; i < varietyList.length; i++)
		{
			varities[i] = {'id' : varietyList[i][2], 'crop_id':varietyList[i][0],'varity':varietyList[i][1]};
		}
		
        var service = {}; 
        service.getType = function(){    
            return types;
        };
		service.getTypeCrop = function(type){
            var cropList = ($filter('filter')(crops, {type: type}));
            return cropList;
        };
		service.getCropVarity = function(crop){
            var varityList = ($filter('filter')(varities, {crop_id: crop}));      
            return varityList;
        };
		
        return service;       
    }]);
    
myApp.controller('dropdownCtrl', ['$scope','CustomerService', 
   function($scope, CustomerService) {

    $scope.cropdtl ={
        //Name:'', 
        type:'', 
        crop: '', 
        varity: ''
    };
	
    $scope.types = CustomerService.getType();

    $scope.getTypeCrops = function(){
        $scope.crops = CustomerService.getTypeCrop($scope.cropdtl.type);
        $scope.varities =[];
    };

    $scope.getVarities = function(){
        $scope.varities = CustomerService.getCropVarity($scope.cropdtl.crop);
    }
    
    $scope.convertToInt = function(id){
        return parseInt(id, 10);
    };
    
}]);  

function convertToInt(id) {
		console.log(id);
	return parseInt(id, 10);
}
/*
module.directive('convertToNumber', function() {
	return {
		require: 'ngModel',
		link: function(scope, element, attrs, ngModel) {
			ngModel.$parsers.push(function(val) {
			  return val != null ? parseInt(val, 10) : null;
			});
			ngModel.$formatters.push(function(val) {
			  return val != null ? '' + val : null;
			});
		}
	};
});
*/
/*]]>*/
</script>
</body>
</html>
