<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'activityTypeList')}">
<body>
	<div class="wrapper-sm">
		<div>
			<div>
				<div class="row">
					<div class="col-sm-9">
						<div class="panel panel-default">
							<div class="panel-heading font-bold" th:text="#{activitytype.add}"></div>
							<div class="panel-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th th:text="#{activitytype.list}"></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cropTaskMap, iter : ${activityTypeList}">
											<th scope="row" th:text="${iter.index + 1}"></th>
											<td th:text="${cropTaskMap.name}"></td>
											
											<td><a
												class="btn btn-mini btn-warning"
												th:href="@{/cropmanagement/editActivityType(id = ${cropTaskMap.id)}}"><i
													class="icon-edit"></i> 
													<span th:text="#{edit}"></span></a>
												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-sm-3 no-padding-left bg-white">
						<div class="wrapper-sm">
							<form th:method="POST" th:action="@{/cropmanagement/submitActivityType}" th:object="${cropActivityType}" class="form-horizontal"> 
							<input type="hidden" th:field="*{id}" name="cropActivityType.id" th:value="${cropActivityType} != null ? ${cropActivityType.id} : ''"/>
							<div class="control-group">
								<label for="cropActivityType.name" class="" th:text="#{cropActivityType.name}"></label>
								<div class="controls ">
									<input type="text" th:field="*{name}" required="required" name="cropActivityType.name"
										class="form-control" id="cropActivityType.name" th:value="${cropActivityType} != null ? ${cropActivityType.name} : ''">
										<span class="help-inline"></span>
								</div>
							</div>
							<div class="well clearfix"></div>
							<div class="form-actions">
								<button type="submit" class="btn btn-sm btn-primary" th:text="#{crop.save}"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
