<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'createearnings')}">
<body>
	<script type="text/css">

a.disabled {
   pointer-events: none;
   cursor: default;
}
</script>
	<div class="wrapper-md" ng-controller="FormDemoCtrl">
	<!-- old url {/cropmanagement/submitIncomeByDate} -->
		<form th:action="@{/cropmanagement/submitIncomeByDate}"
							th:method="POST" th:object="${cropIncomeList}" th:class="form-horizontal">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span th:text="#{income.day.mapping}"></span>
				</div>
				<div class="panel-body">
					<div class="row">
							<div class="col-sm-9 pull-left">
								<section th:replace="fragments/cropselection :: cropselection"></section>
								<div class="box-body table-responsive">
							      <table id="repeat" class="table table-bordered table-hover2">
							        <thead>
							          <tr>
							            <th><span th:text="#{income.type}"></span></th>
							            <th><span th:text="#{income.item}"></span></th>
							            <th><span th:text="#{income.day}"></span></th>
							            <th><span th:text="#{income.amount}"></span></th>
							            <th><span th:text="#{income.value}"></span></th>
							            <th>&nbsp;</th>
							          </tr>
							        </thead>
							        <tbody id="tbl_posts_body">
							      </table>
							    </div> 
							    <div class="form-actions">
									<button type="submit" class="btn btn-sm btn-primary"
										th:text="#{crop.save}"></button>
								</div>
								<div style="display:none;">
								    <table>
								    	<tbody id="copy">
								    		<tr id="add_index0">
											   	<input type="hidden" name="income"  id="income[0]" value="incomeval[0]" />
										       	<td>
										       		<input type="text" name="incomeItems" id="incomeItems[0]" required="required" value="&nbsp;" class="form-control txtBox">
										       	</td>
										       	<td>
										       		<input type="number" name="days" id="day[0]" value="0" required="required" class="form-control txtBox">
										       	</td>
										       	<td>
										       		<input type="number" name="amounts" id="amount[0]" value="0" required="required" class="form-control txtBox">
										       	</td>
										       	<td>
										       		<input type="number" name="values" id="values[0]" value="0" required="required" class="form-control txtBox">
										       	</td>
										       	<td>
											       <div class="btn-group" style="width:100%">
											       		<a class="btn" onclick="OpenInputDialog(0);"><i class="fa fa-edit"></i></a>
											       		<a class="btn" onclick="addRowBelow(0);"><i class="fa fa-plus"></i></a>
													  	<a class="btn btn-xs" onclick="closeInputField(0);"><i class="fa fa-trash"></i></a>
													</div>
												</td>												
										     </tr>
								    	</tbody>
								   </table>
								</div>
							</div>
							<div class="col-sm-3 pull-right">
								<label><strong><span th:text="#{income.main}"></span></strong></label>
								<script type="text/javascript">
									var incomeList = new Array();
									var income = new Array();
									var j = 0;
								</script>
		
								<div th:each="cropIncome : ${cropIncomes}">
									<script type="text/javascript" th:inline="javascript">
										/*[+
											var id = [[${cropIncome.id}]];
											id = 'incomeId_' + id;
											var name = [[${cropIncome.name}]];
											incomeList[j] = { 'id' : id, 'name' : name };
											j++;
										+]*/
									</script>
									<div class="checkbox">
										<label class="i-checks"> <input type="checkbox"
											th:id="'incomeId_' + ${cropIncome.id}"
											th:value="${cropIncome.id}"
											onclick="checkedActivity(this);"> <i></i>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
											th:text="${cropIncome.name}"></span>
										</label>
									</div>
								</div>
								<div class="well clearFix"></div>
								<span>
									<a th:href="@{/cropmanagement/createIncome}" class="btn btn-success">
										<span th:text="#{income.main.add}"></span>									
									</a>
								</span>
							</div>
							<div class="wrapper-sm"></div>
								
						<div class="col-sm-9">
						<!--
						<div class="form-incomeions">
							<a id="add_row" class="btn btn-default pull-left ">Add Another Activity</a>
						</div>
						-->
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div>
					</div>
				</div>
			</div>
			</form>
		</div>

<div id="inputDialog" style="display: none">
	<input type="hidden" id="" value=""/>
    <table>
    	<thead>
          <tr>
            <th><span th:text="#{income.item}"></span></th>
            <th><span th:text="#{income.day}"></span></th>
            <th><span th:text="#{income.amount}"></span></th>
            <th><span th:text="#{income.value}"></span></th>
          </tr>
        </thead>
    	<tr id="copiedRow">
    	</tr>
    </table>
</div>
	<!-- 
<label class="col-sm-2 control-label">Datepicker</label>
<div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
	<div class="input-group w-md">
		<input type="text" class="form-control" datepicker-popup=""
			ng-model="dt" is-open="opened"
			datepicker-options="dateOptions" ng-required="true"
			close-text="Close" /> <span class="input-group-btn">
			<button type="button" class="btn btn-default"
				ng-click="open($event)">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
	</div>
</div>
 -->

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    var cropList = [[${crops}]];
    var theList = [[${cropActivityList}]];
    var typeList = [[${types}]];
    
    var i = 1;
	var checkboxselected = 0;

	var incomeItemList = [];
	var j = 0;
	function checkedActivity(checkbox) {
		var html = '';
		var incomeName = '';
		var incomeType = new Array();
		checkboxselected = checkbox.value;
		for(var i = 0; i < incomeList.length; i++) {
			if(incomeList[i].id == 'incomeId_' + checkbox.value) {
				incomeName = incomeList[i].name;			
				break;
			}
		}
		
		html = '<tr id="incomeLabel_' + checkbox.value + '">' +
				'<td>' + incomeName + ' </td>' +
				'<div class="col-sm-10">' +
				'<td colspan="6" id="incomeCopy_' + checkbox.value + '"></td>' +
				'</tr>';
				
		if(checkbox.checked) {
			$('#repeat >tbody').append(html);
			//copyRow('#incomeLabel_'+checkbox.value,checkbox.value);
			copyRow('#incomeCopy_'+checkbox.value,checkbox.value);
			
			for(var k=0;k<income.length;k++) {
				//copyRow(checkbox.value,checkbox.value);
			}
		} else {
			$('#incomeLabel_'+checkbox.value).remove();
		}
	}

	function closeInputField(i) {
		if (i > 0) {
			var parent = $('#add_index' + i).parent().html();
			var count = $(parent).siblings("tr").length;
			if (count == 0) { 
				var hiddenId = $('#add_index' + i + ' input[type=hidden]').get(0).id;
				var hiddenValue = document.getElementById(hiddenId).value;
				hiddenValue = hiddenValue.substr(hiddenValue.indexOf('_') + 1, hiddenValue.length);
				$('#incomeId_' + hiddenValue).attr('checked',false);
				$('#add_index' + i).closest('td').parent().html('');
			} else {
				document.getElementById('add_index' + i).outerHTML = '';
			}
			
		}
	}

	function addRowBelow(index)	{
		var income = document.getElementById('income['+index+']').value;
		copyRow(income,index);
	}

	function copyRow(income,index) {
		var incomeName = '';
		var copy = document.getElementById('copy').innerHTML;
		copy = copy.replace('add_index0', 'add_index' + i);
		copy = copy.replace('income[0]', 'income['+i+']');
		copy = copy.replace('"incomeItems[0]"', '"incomeItems[' + i +']"');
		copy = copy.replace('"day[0]"',	'"day[' + i +']"');
		copy = copy.replace('"values[0]"', '"values[' + i + ']"');
		copy = copy.replace('amount[0]', 'amount['+i+']');
		copy = copy.replace('incomeval[0]', income);
		copy = copy.replace('<span id="incomeName[0]"></span>', '<span id="incomeName['+i+']">'+incomeName+'</span>');
		copy = copy.replace('closeInputField(0)', 'closeInputField(' + i + ')');
		copy = copy.replace('OpenInputDialog(0)', 'OpenInputDialog('+ i +')');
		copy = copy.replace('addRowBelow(0)', 'addRowBelow('+i+')');
		$(income).append(copy);
		i++;
	}

	$(document)
		.ready(function() {
			$( "#copy" ).hide();
			
			$("#add_row").click(copyRow());
			$(".txtBox").click(function () {
			    OpenInputDialog($(this));
			});
		});

	function OpenInputDialog(txtBox) {
		var html = '' + $('#add_index' + txtBox).html();
		html = html.replace("incomeItems[" + txtBox + "]", "incomeItems[" + txtBox + "_0]");
		html = html.replace("day[" + txtBox + "]", "day[" + txtBox + "_0]");
		html = html.replace("amount[" + txtBox + "]", "amount[" + txtBox + "_0]");
		html = html.replace("values[" + txtBox + "]", "values[" + txtBox + "_0]");
		$("#copiedRow").html(html);
		document.getElementById("incomeItems[" + txtBox + "_0]").value = checkUndefined(document.getElementById("incomeItems[" + txtBox + "]"));
		document.getElementById("day[" + txtBox + "_0]").value = document.getElementById("day[" + txtBox + "]").value;
		document.getElementById("amount[" + txtBox + "_0]").value = document.getElementById("amount[" + txtBox + "]").value;
		document.getElementById("values[" + txtBox + "_0]").value = document.getElementById("values[" + txtBox + "]").value;
		$("#copiedRow > td:last-child").html('');
	    $("#inputDialog").dialog({
	        autoOpen: false,
	        modal: true,
	        width: 600,
	        height: 200,
	        title: [[#{input.dialog.heading}]],
	        closeOnEscape: true,
	        buttons: [{
	            text: [[#{input.dialog.button.save}]],
	            click: function () {
	                $(this).dialog("close");
	            }
	        }],
	        close: function () {
	            document.getElementById("incomeItems[" + txtBox + "]").value = checkUndefined(document.getElementById("incomeItems[" + txtBox + "_0]"));
	            document.getElementById("day[" + txtBox + "]").value = document.getElementById("day[" + txtBox + "_0]").value;
	            document.getElementById("amount[" + txtBox + "]").value = document.getElementById("amount[" + txtBox + "_0]").value;
	            document.getElementById("values[" + txtBox + "]").value = document.getElementById("values[" + txtBox + "_0]").value;
	            $(this).dialog("close");
	            $("#txtInput").val("");
	        },
	        show: { effect: "clip", duration: 200 }
	    });
	    $("#inputDialog").dialog("open");
	};
	
	function checkUndefined(item) {
		return (item != (undefined)) ? item.value : '';
	}
	
	function varitycng() {
		$("#createvarity").attr("disabled", "true");
	}
/*]]>*/
</script>
</body>
</html>

