<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'cropexpencelist')}">
<body>
	<div class="wrapper-md" ng-controller="FormDemoCtrl">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading font-bold">Expenditure list</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Crop</th>
									<th>Variety</th>
									<th>Type</th>
									<th>Expence</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cropExpence, iter : ${cropExpences}">
									<td></td>
									<td th:text="${cropsMap.get( '' + cropExpence.crop)}"></td>
									<td th:text="${varietiesMap.get('' + cropExpence.varity)}"></td>
									<td th:text="${cropExpence.type}"></td>
									<td>
										<table>
											<tr th:each="exp : ${cropExpence.expenceItemValueList}">
												<td th:text="${exp.cropActivityItem.name}"></td>
												<td th:text="${exp.itemExpence}"></td>
												<td th:text="${exp.labourExpence}"></td>
											</tr>
										</table>
										<!-- <th scope="row" th:text="${iter}"></th> -->
									</td>
									<td>
									<!-- <a	class="btn btn-mini btn"
										th:href="@{/cropmanagement/createActivity}"><i
											class="icon-edit"></i> Add</a>  -->
										<a class="btn btn-mini btn-warning"
										th:href="@{/app/testprint(portalCropId = ${cropExpence.crop} != null ? ${cropExpence.crop} :'', 
											portalVarietyId = ${cropExpence.varity} != null ? ${cropExpence.varity} : '')}"><i
											class="icon-edit"></i> Test Print</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function closeInputField(i) {
			if (i > 0) {
				document.getElementById('add_index' + i).outerHTML = '';
			}
		}

		$(document)
				.ready(
						function() {
							var i = 0;
							$("#add_row")
									.click(
											function() {
												i++;
												alert(i);
												var copy = document
														.getElementById('copy').innerHTML;
												copy = copy.replace(
														'add_index0',
														'add_index' + i);
												copy = copy.replace(
														'taskname[0]',
														'taskname[' + i + ']');
												copy = copy.replace(
														'taskdate[0]',
														'taskdate[' + i + ']');
												copy = copy.replace(
														'closeInputField(0)',
														'closeInputField(' + i
																+ ')');
												alert('copy;;' + copy);
												$('#repeat').append(copy);

											});
						});
	</script>
</body>
</html>
